<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>Choose an urgent care clinic</h2>

                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-check-all"></i>
                        </a>
                    </li>
                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>


                    <div class="card">
        <div class="card-header">
            <h2>Book Urgent Care Clinic <small>Nearby clinics matching your profile</small></h2>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Rating</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>AFC Doctors Express Urgent Care</td>
                        <td>4.5</td>
                        <td>0.5M</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Tully Health Center</td>
                        <td>4.3</td>
                        <td>0.7M</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Firefly After Hours Pediatrics</td>
                        <td>3.9</td>
                        <td>0.2M</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>PlushCare Urgent Care</td>
                        <td>3.7</td>
                        <td>1.2M</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Greenwich Walk-In Medical Center</td>
                        <td>2.8</td>
                        <td>0.8M</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
                    
      <button class="btn waves-effect" data-ui-sref="home">Back</button>

            
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
