<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>Dashboard</h2>

                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-check-all"></i>
                        </a>
                    </li>
                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>


                    <div class="dash-widgets">
                        <div class="row">

                            <button class="btn btn-danger waves-effect  btn-lg btn-block" data-ui-sref="actions">Fever Alert</button>
                            </br></br>
            
            
                    <div class="col-md-12 col-sm-12">
                        <div id="site-visits" class="dash-widget-item bgm-teal"  data-ng-controller="homeAppCtrl as happctrl">
                            <div class="dash-widget-header">
                                <div class="p-20">
<!--                                    <div class="dash-widget-visits" data-sparkline-line></div>-->
                                </div>

                                <div class="dash-widget-title">For the past 3 hours</div>

                                <ul class="actions actions-alt">
                                    <li class="dropdown" uib-dropdown>
                                        <a href="" uib-dropdown-toggle>
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">Refresh</a>
                                            </li>
                                            <li>
                                                <a href="">Manage Widgets</a>
                                            </li>
                                            <li>
                                                <a href="">Widgets Settings</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="p-20">

                                <small>Temperature</small>
                                <h3 class="m-0 f-400">{{temperature}}</h3>

                                <br/>

                                <small>Heart rate</small>
                                <h3 class="m-0 f-400">{{heartrate}}</h3>

                                <br/>

                                <small>Breathing</small>
                                <h3 class="m-0 f-400">stable</h3>

                                <br/>

                                <small>Position</small>
                                <h3 class="m-0 f-400">back</h3>

                            </div>
                        </div>
                    </div>
            
            
            
            
                    <div  data-ng-controller="statusCtrl as wctrl">        
                    <center>
                    <button class="btn btn-primary waves-effect" data-ui-sref="actions">Attend</button>
                    <button class="btn waves-effect" ng-click="alertOn()">Alarm on</button>
                    <button class="btn waves-effect" ng-click="alertOff()">Alarm off</button>
                    </center>
                    </div>
                            
                        </div>
                    </div>
                    

            
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
