<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

   <div class="container">
    <div class="block-header">
        <h2>Rate your experience</h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>


    <div class="card">

        <form class="form-horizontal" role="form">
            <div class="card-header">
                <h2>Quality of Response <small>How confident are you the situation is resolved?</small></h2>
            </div>

            <div class="card-body card-padding">
                <div class="form-group">

                
                
            <div class="radio m-b-15">
                <label>
                    <input type="radio" name="sample" value="">
                    <i class="input-helper"></i>
                    Quickly resolved
                </label>
            </div>

            <div class="radio m-b-15">
                <label>
                    <input type="radio" name="sample" value="">
                    <i class="input-helper"></i>
                    Still unsure
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" value="" disabled="">
                    <i class="input-helper"></i>
                    Bad experience
                </label>
            </div>

        </form>
    </div>

    

</div>
        
        
        
            <div class="card">

        <form class="form-horizontal" role="form">
            <div class="card-header">
                <h2>Speed of Response <small>How fast was the issue resolved?</small></h2>
            </div>

            <div class="card-body card-padding">
                <div class="form-group">

                
                
            <div class="radio m-b-15">
                <label>
                    <input type="radio" name="sample" value="">
                    <i class="input-helper"></i>
                    Immediate
                </label>
            </div>

            <div class="radio m-b-15">
                <label>
                    <input type="radio" name="sample" value="">
                    <i class="input-helper"></i>
                    Acceptable
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" value="" disabled="">
                    <i class="input-helper"></i>
                    Too long
                </label>
            </div>

        </form>
    </div>


        <div class="card-body card-padding">
            <p class="c-black f-500 m-b-20">Additional Comments</p>

            <div class="form-group">
                <div class="fg-line">
                    <textarea class="form-control" rows="5" placeholder="Tell us some more...."></textarea>
                </div>
            </div>

        </div>
        
        
        
      <button class="btn btn-primary waves-effect" data-ui-sref="home">Submit</button>
      
        
        

           </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>